[include user_config.cfg]
# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication/USART.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.


#*****REQUIRED ITEMS******
[virtual_sdcard]
path: /home/pi/printer_data/gcodes

[include mainsail.cfg]

[include macros.cfg]

#****AXIS MOTOR DEFINITIONS****
#verified for v3
[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_max: 250
homing_speed: 50

#updated for v3
[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.700 #was .650 updated 8.17.22
hold_current: 0.500
stealthchop_threshold: 999999
interpolate: true


#verified for v3
[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: ^PC1
#position_endstop: 0
position_endstop: -8
position_max: 235
#position_min: -50
position_min: -8
homing_speed: 50


#verified for v3
[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.750 #0.675 updated 8.17.22
hold_current: 0.500
stealthchop_threshold: 999999
interpolate: true

#verified for v3
[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
full_steps_per_rotation: 200
#endstop_pin: ^PC2
#position_endstop: 0.0
endstop_pin: probe:z_virtual_endstop
#position_min: -20.0 9/19/22
position_min: -8
position_max: 250



#verified for v3
[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.650 #0.580 updated 8.17.22
hold_current: 0.500
stealthchop_threshold: 999999
interpolate: true


#verified for v3
[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 33.101
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 260
max_extrude_only_distance: 500.0
pressure_advance = 0.0913

#verified for v3
[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
hold_current: 0.500
stealthchop_threshold: 999999
interpolate: true


#****RUNOUT SWITCH******

#verified for v3
[filament_switch_sensor runout_switch]
pause_on_runout: True
#runout_gcode:
#   A list of G-Code commands to execute after a filament runout is
#   detected. See docs/Command_Templates.md for G-Code format. If
#   pause_on_runout is set to True this G-Code will run after the
#   PAUSE is complete. The default is not to run any G-Code commands.
#insert_gcode:
#   A list of G-Code commands to execute after a filament insert is
#   detected. See docs/Command_Templates.md for G-Code format. The
#   default is not to run any G-Code commands, which disables insert
#   detection.
event_delay: 20
pause_delay: 0.5
switch_pin: PC15


#****HEATED BED****
#verified for v3
[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130


#****FANS****

#verified for v3
[fan]
pin: PC6

#verified for v3
[heater_fan hotend_fan]
pin: PB15
heater: extruder
heater_temp: 34.0
fan_speed: 1.0

#verified for v3
[controller_fan controller_fan] 
pin: PC7
max_power: 1.0
heater: heater_bed
fan_speed: 0.5
idle_timeout: 30
stepper: stepper_x, stepper_y, stepper_z, extruder

[fan_generic enclosure_fan]
pin: PC13

#****MCU/PORT DEFINITION****

#verified for v3
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_43001C0019504B5735313920-if00

[mcu rpi]
serial: /tmp/klipper_host_mcu


#****SPEED SETTINGS****

[printer]
kinematics: cartesian
square_corner_velocity: 5.0
max_velocity: 300
max_accel: 3400
max_z_velocity: 5
max_z_accel: 100

#**AUTOTUNE TMC Settings******
[autotune_tmc stepper_x]
motor: creality-42-34
tuning_goal: auto
extra_hysteresis: 0

[autotune_tmc stepper_y]
motor: creality-42-40
tuning_goal: auto
extra_hysteresis: 0

[autotune_tmc stepper_z]
motor: creality-42-34
tuning_goal: auto
extra_hysteresis: 0

[autotune_tmc extruder]
motor: creality-42-34
tuning_goal: auto
extra_hysteresis: 0

#****ABL SENSOR SETTINGS****

#9/19/22
#####################################################################
# KlackEnder- Settings
#####################################################################

# !! Change your Z endstop pin from 'endstop_pin: Pin123' to 'endstop_pin: probe:z_virtual_endstop'
# !! Also add in [stepper_y] 'position_min: -8'. Idk why but most configs mave this wrong. For the Stock Ender 3 the homed Y position is -8.

[probe]
pin: ^PC14 #Probe-Stop Connection on Skr Mini Pro V1.2
z_offset: -2 #Measure per your specific setup
x_offset: 8 # negative = left of the nozzle
y_offset: 21 # negative = in front of of the nozzle
speed: 5.0
lift_speed: 15.0
sample_retract_dist: 1
samples: 2
samples_tolerance_retries: 6

##[(7x7)-1] / 2 = 24
##[(5x5)-1] / 2 = 12
[bed_mesh]
speed: 175
horizontal_move_z: 2
mesh_min: 8,30
mesh_max: 223,201
probe_count: 5,5
algorithm: bicubic
fade_start: 1
fade_end: 10
#fade_target:
#   The z position in which fade should converge. When this value is set
#   to a non-zero value it must be within the range of z-values in the mesh.
#   Users that wish to converge to the z homing position should set this to 0.
#   Default is the average z value of the mesh.
split_delta_z: 0.015
#   The amount of Z difference (in mm) along a move that will
#   trigger a split. Default is .025.
move_check_distance: 3
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
mesh_pps: 4,4
#   A comma separated pair of integers (X,Y) defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed
#   point. The user may enter a single value which will be applied
#   to both axes.  Default is 2,2.
#bicubic_tension: .2
#   When using the bicubic algorithm the tension parameter above
#   may be applied to change the amount of slope interpolated.
#   Larger numbers will increase the amount of slope, which
#   results in more curvature in the mesh. Default is .2.

[homing_override]
set_position_z:0 # Make printer think Z axis is at zero, so we can force a move upwards away from build plate
gcode:
  G90
  G1 Z10 F3000 ; move up to prevent accidentally scratching build plate    
  G28 X
  G28 Y
  PROBE_OUT
  G1 X117 Y117 F3000
  G28 Z
  PROBE_IN

#9/19/22
#[bed_mesh]
#speed: 185
#horizontal_move_z: 8
#mesh_min: 10, 20 #was 15,15
#mesh_max: 190, 190
#probe_count: 5, 7
#mesh_pps: 2,2
#algorithm: bicubic
#fade_start: 1
#fade_end: 10
#fade_target: 0


# The safe_z_home section modifies the default G28 behavior
#9/19/22
#[safe_z_home]
#117.5 is center
#home_xy_position: 160.5, 122.5
#speed: 150
#z_hop: 15
#z_hop_speed: 20

[screws_tilt_adjust]
horizontal_move_z: 10
screw1: 72.5,205
screw1_name: back left
screw2: 72.5,40.5
screw2_name: front left
screw3: 235,40
screw3_name: front right
screw4: 235,205
screw4_name: back right
screw_thread: CW-M4
#old values:
#screw1: 72.5,40.5
#screw1_name: front left
#screw2: 235,40
#screw2_name: front right
#screw3: 72.5,205
#screw3_name: back left
#screw4: 235,205
#screw4_name: back right
#screw_thread: CW-M4

#****BOARD STUFF****

#updated for v3
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>



[input_shaper]
shaper_freq_x: 45
shaper_type_x: mzv
shaper_freq_y: 37
shaper_type_y: mzv

#****DISPLAY DEFINITION****

# See the sample-lcd.cfg file for definitions of common LCD displays.
[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8



#****ARC SUPPORT****

[gcode_arcs]
resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is 1mm.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.036250, -0.210000, -0.200000, -0.248750, -0.303750
#*# 	  0.127500, -0.030000, -0.066250, -0.107500, -0.186250
#*# 	  -0.041250, -0.017500, 0.000000, -0.011250, -0.073750
#*# 	  -0.032500, 0.026250, 0.078750, 0.048750, -0.033750
#*# 	  0.087500, -0.046250, 0.057500, 0.008750, -0.041250
#*# tension = 0.2
#*# min_x = 8.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 4
#*# min_y = 30.0
#*# x_count = 5
#*# max_y = 201.0
#*# mesh_x_pps = 4
#*# max_x = 223.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 29.425
#*# pid_ki = 1.868
#*# pid_kd = 115.862
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 66.691
#*# pid_ki = 0.960
#*# pid_kd = 1157.915
